/* .pos-receipt-print {
    width: 512px;
    font-size: 27px;
    color: #000000;
} */

/* .pos-order-print {
    width: 512px;
    color: #000000;
} */


/* .pos-receipt .pos-receipt-amount {
    font-size: 125%;
    padding: 0px;
} */